/*Element Selector*/
body {
	background: #bdc3c7;
	color: #2c3e50;
	font-family: arial;
}

h1 {
	color: #16a085;
}

p {
	color: #2c3e50;
}

/*Class Selector*/
.container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.card {
	border-style: solid;
	border-color: #16a085;
	border-radius: 20px;
	padding: 20px;
	background: #ecf0f1;
	box-shadow: #7f8c8d 5px 5px 15px;
	margin-top: 60px;
}

/*ID Selector*/
#title {
	font-size: 60px;
}

#info {
	color: #3498db;
	text-decoration: underline;
}